<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/infinite_logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/infinite_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.LanguageCourses"
        android:hardwareAccelerated="true"


    tools:targetApi="31">
        <activity
            android:name=".Activties.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activties.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Activties.Quiz"
            android:exported="false" />
        <activity
            android:name=".Activties.MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.information3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.information2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.information"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.Registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activties.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>